table {
  width: 90%;
  margin: auto;
}
.mat-column-details {
  width: 200px;
}
mat-paginator {
  width: 90%;
  margin: auto;
}
.flex-container {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 10px;
  justify-content: flex-end;
}
